<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink="/home">Dating App</a>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/members">Matches</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/lists">Lists</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/messages">Messages</a>
            </li>
        </ul>

        <ul
            class="navbar-nav ml-auto"
            *ngIf="loggedIn; else loggedOut"
            dropdown
        >
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" dropdownToggle>
                    <span class="mr-1">
                        <img
                            [src]="user.photoUrl || 'assets/images/user.png'"
                            [alt]="user.knownAs"
                        />
                    </span>
                    Welcome {{ user.username | titlecase }}
                </a>

                <div class="dropdown-menu" *dropdownMenu>
                    <a class="dropdown-item" [routerLink]="['/members/edit']"
                        ><i class="fa fa-user"></i> Edit Profile</a
                    >
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()"
                        ><i class="fa fa-sign-out"></i> Log Out</a
                    >
                </div>
            </div>
        </ul>

        <ng-template #loggedOut>
            <form
                #loginForm="ngForm"
                class="form-inline my-2 my-lg-0"
                (ngSubmit)="login()"
            >
                <input
                    class="form-control mr-sm-2"
                    type="text"
                    name="Username"
                    placeholder="Username"
                    required
                    [(ngModel)]="model.Username"
                />
                <input
                    class="form-control mr-sm-2"
                    type="password"
                    name="Password"
                    placeholder="Password"
                    required
                    [(ngModel)]="model.Password"
                />
                <button
                    class="btn btn-secondary my-2 my-sm-0"
                    type="submit"
                    [disabled]="!loginForm.valid"
                >
                    Log In
                </button>
            </form>
        </ng-template>
    </div>
</nav>
