<div class="container mt-5">
    <div class="row">
        <div class="col-4">
            <h1>Your profile</h1>
        </div>
        <div class="col-8">
            <div *ngIf="editForm.dirty" class="alert alert-info">
                <p>
                    <strong>Information:</strong> You have made changes. Any
                    unsaved changes will be lost.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img
                    class="card-img-top img-thumbnail"
                    [src]="user.photoUrl"
                    [alt]="user.knownAs"
                />
                <div class="card-body">
                    <div>
                        <strong>Locations</strong>
                        <p>{{ user.city }}, {{ user.country }}</p>
                    </div>
                    <div>
                        <strong>Age</strong>
                        <p>{{ user.age }}</p>
                    </div>
                    <div>
                        <strong>Last Active</strong>
                        <p>{{ user.lastActive }}</p>
                    </div>
                    <div>
                        <strong>Member since:</strong>
                        <p>{{ user.created }}</p>
                    </div>
                    <div class="card-footer">
                        <ul class="btn-group d-flex pl-0">
                            <button
                                type="submit"
                                class="btn btn-block btn-success"
                                title="save changes"
                                form="editForm"
                                [disabled]="!editForm.dirty"
                            >
                                <i class="fa fa-save"></i>
                            </button>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="tab-panel">
                <tabset class="member-tabset">
                    <tab heading="Edit Profile">
                        <form
                            #editForm="ngForm"
                            id="editForm"
                            (ngSubmit)="onSubmit()"
                        >
                            <h4>Description</h4>
                            <textarea
                                class="form-control"
                                name="introduction"
                                id="introduction"
                                [(ngModel)]="user.introduction"
                                rows="6"
                            ></textarea>
                            <h4>Looking for</h4>
                            <textarea
                                class="form-control"
                                name="lookingFor"
                                id="lookingFor"
                                [(ngModel)]="user.lookingFor"
                                rows="6"
                            ></textarea>
                            <h4>Interests</h4>
                            <textarea
                                class="form-control"
                                name="interests"
                                id="interests"
                                [(ngModel)]="user.interests"
                                rows="6"
                            ></textarea>
                            <h4>Location Details</h4>
                            <div
                                class="form-inline d-flex justify-content-around"
                            >
                                <label for="city">Ciudad</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="city"
                                    [(ngModel)]="user.city"
                                />
                                <label for="city">País</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="country"
                                    [(ngModel)]="user.country"
                                />
                            </div>
                        </form>
                    </tab>
                    <tab heading="Edit Photos">
                        <h4>Edit Photos</h4>
                        <app-photo-editor
                            [photos]="user.photos"
                            (getMemberPhotoChanged)="updateMainPhoto($event)"
                        ></app-photo-editor>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>
