<div class="container mt-5">
    <div class="text-center mt-3">
        <h2>Your matches - {{ pagination.totalItems }} found</h2>
    </div>

    <form
        #form="ngForm"
        class="form-inline"
        novalidate
        (ngSubmit)="applyFilters()"
    >
        <div class="form-group">
            <label for="minAge">Age From</label>
            <input
                type="number"
                class="form-control ml-1"
                style="width: 70px"
                [(ngModel)]="userParams.minAge"
                id="minAge"
                name="minAge"
            />
        </div>

        <div class="form-group px-2">
            <label for="maxAge">Age To</label>
            <input
                type="number"
                class="form-control ml-1"
                style="width: 70px"
                [(ngModel)]="userParams.maxAge"
                id="maxAge"
                name="maxAge"
            />
        </div>

        <div class="form-group px-2">
            <label for="gender">Show: </label>
            <select
                class="form-control ml-1"
                style="width: 130px"
                [(ngModel)]="userParams.gender"
                id="gender"
                name="gender"
            >
                <option
                    *ngFor="let gender of genderList"
                    [value]="gender.value"
                    >{{ gender.key }}</option
                >
            </select>
        </div>

        <div class="btn-group">
            <button type="submit" class="btn btn-primary" title="apply">
                <i class="fa fa-filter"></i>
            </button>
            <button
                type="button"
                class="btn btn-danger"
                (click)="resetFilters()"
                title="reset"
            >
                <i class="fa fa-trash"></i>
            </button>
        </div>

        <div class="col">
            <div class="btn-group float-right">
                <button
                    *ngFor="let sortingEl of sortingList; let i = index"
                    type="button"
                    name="orderBy"
                    class="btn btn-light"
                    [(ngModel)]="userParams.orderBy"
                    (click)="sortUsers(i)"
                    btnRadio="{{ sortingEl.value }}"
                >
                    {{ sortingEl.key }}
                    <i
                        class="fa fa-sort"
                        [ngClass]="{
                            'fa-sort-desc': sortingEl.direction > 0,
                            'fa-sort-asc': sortingEl.direction < 0
                        }"
                    ></i>
                </button>
            </div>
        </div>
    </form>

    <div class="row mt-3">
        <div
            *ngFor="let user of users"
            class="col-lg-2 col-md-3 col-sm-6 col-xs-12"
        >
            <app-member-card [user]="user"></app-member-card>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <pagination
        [boundaryLinks]="true"
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
    >
    </pagination>
</div>
