table {
    margin-top: 15px;
}

img.img-user {
    max-height: 50px;
    max-width: 50px;
    margin-right: 7px;
    max-height: 50px;
    border: 2px solid #fff;
    border-radius: 5px;
}

td {
    vertical-align: middle;
}
